.jumbotron {
    animation: fadeInAnimation 2s; /* Анимация появления с продолжительностью 2 секунды */
    position: relative; /* Позиционирование относительно родительского элемента */
    z-index: 1; /* Порядок слоя элемента */
    margin-top: 300px; /* Верхний отступ 300 пикселей */
}

.col-md-4 {
    text-align: center; /* Выравнивание текста по центру */
}

/* Анимация */
@keyframes fadeInAnimation {
    from {
        opacity: 0; /* Начальная прозрачность 0 */
    }

    to {
        opacity: 1; /* Конечная прозрачность 1 */
    }
}

.jumbotron {
    animation: fadeIn 1s ease-out; /* Анимация появления с продолжительностью 1 секунда и плавным затуханием */
}

.gallery {
    background: #EEE; /* Фоновый цвет #EEE */
    display: flex; /* Отображение элементов в виде гибкого контейнера */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    overflow: hidden; /* Скрытие содержимого, выходящего за границы контейнера */
    position: relative; /* Позиционирование относительно родительского элемента */
}

.gallery-cell {
    width: 30%; /* Ширина 30% */
    height: 300px; /* Высота 300 пикселей */
    margin-right: 10px; /* Правый отступ 10 пикселей */
    background: #8C8; /* Фоновый цвет #8C8 */
    counter-increment: gallery-cell; /* Увеличение счетчика gallery-cell */
    flex-shrink: 0; /* Запрет уменьшения размера элемента */
    display: flex; /* Отображение элементов в виде гибкого контейнера */
    justify-content: center; /* Выравнивание элементов по центру по горизонтали */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    overflow: hidden; /* Скрытие содержимого, выходящего за границы контейнера */
}

    
.gallery-cell img {
    display: block; /* Отображение изображений в виде блочных элементов */
}


.prev-btn,
.next-btn {
    position: absolute; /* Абсолютное позиционирование */
    top: 90%; /* Расположение сверху на 90% от родительского элемента */
    transform: translateY(-150%); /* Смещение по вертикали на -150% от собственной высоты */
    background-color: transparent; /* Прозрачный фон */
    color: black; /* Цвет текста чёрный */
    padding: 5px 10px; /* Внутренние отступы 5 пикселей сверху/снизу и 10 пикселей слева/справа */
    border: none; /* Отсутствие границы */
    cursor: pointer; /* Курсор в виде указателя */
    z-index: 5; /* Порядок слоя элемента */
}


.prev-btn {
    left: 10px; /* Расположение слева на 10 пикселей */
}


.next-btn {
    right: 10px; /* Расположение справа на 10 пикселей */
}
